/*****Global*****/
h1, h2, h3, h4, h5, h6, button {
  font-family: 'Kanit', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/***Top Section***/

#bg-video {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: -9em;
  max-width: 100vw;
  min-height: 50em;
  max-height: 55em;
}

.nav-link {
  color: #fff;
}
.nav-item .nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url(./images/logo.svg);
  background-size: 5em;
  width: 6em;
}

div.collapse.navbar-collapse.show .logo {
  display: none;
}

div.collapse.show {
  margin-left: 4em;
}

.navbar-collapse.show .bg-success {
  width: 8em;
  padding-left: 1em;
  margin-left: -2em; 
}
.nav-link.bg-success {
  border-radius: .5em;
  width: 8em;
  padding-left: 2em !important;
}
.navbar .nav-link:last-child {
  margin-left: 2em;
}

.top-section {
  position: relative;
  margin-top: 10em;
  margin-bottom: 10em;
  margin-left: 2em;
  max-width: 450px;
  color: #fff;
}
.top-section h2 {
  max-width: 9em;
  word-wrap: break-word;
}
.overload {
  font-weight: 800;
}

.top-section p {
  padding: 0;
}
.top-section button {
  background-color: #009C74;
  color: #fff;
  font-weight: 500;
  padding: .3em;
  max-width: 12em;
  max-height: 5em;
  border-radius: 10px;
}

      /***Larger Screen***/
      @media (min-width: 500px) {
        .top-section {
          margin-left: 8em;
        }
      }

/***Background Section***/
#background {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  margin-top: auto;
  padding: .5em;
}

#background div h1{
  display: block;
  max-width: 100%;
  max-height: 3em;
  padding-bottom: .5em;
  text-align: center;
  font-size: clamp(3rem, 3rem + 2vw, 75px);
}

#background div h1 span {
  color: #009C74;
}

.bgSection {
  display: flex;
  flex-wrap: wrap;
}
.soup {
  min-width: 20em;
  min-height: 29em;
  max-width: 30em;
  max-height: 40em;
  margin-right: .5rem;
  padding-bottom: .5rem;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
}

.stroller, .yoda-buttons {
  display: flex;
  flex-direction: column;
  max-width: 25em;
  max-height: 45em;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.stroller {
  margin-bottom: .5rem;
}

.theories h3 {
  margin-bottom: 0;
}

#background button {
  font-weight: 500;
  padding: .3em;
  max-width: 12em;
  max-height: 5em;
  border-radius: 10px;
}
.meet {
  background-color: #fff;
}
.read {
  background-color: #009C74;
  color: #fff;
}

        /*****Large Screen*****/
        @media (min-width: 500px) {
          .bgSection {
            flex-direction: row;
          }
          .theories {
            max-width: 30em;
            margin: auto;
          }
          .theories p {
            max-width: 30em;
          }
        }
/*Slide component*/
#emotions {
  min-height: 30em;
}
#emotions .carousel-inner .carousel-item {
  min-height: 20em;
}

#emotions .carousel-item img {
  min-height: 30em;
}

#emotions .carousel-control-next-icon, #emotions .carousel-control-prev-icon {
  background-color: #000;
}

.carousel-caption {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  top: 0;
}

.carousel-caption h1 {
  display: block;
  width: 100%;
}
#emotions .carousel-caption img {
  object-fit: cover;
  min-height: 1em;
  max-height: 25em;
  min-width: 1em;
  max-width: 25em;
}

.slide-info {
  display: flex;
  flex-direction: column;
}
.slide-info-heading {
  padding: 0;
  margin-bottom: -2em;
}
.slide-info-heading h2{
  font-size: clamp(2rem, 4rem + 5vw, 10rem);
  font-weight: 800;
}

.slide-info-caption{
  text-align: left;
  background-color: #fff;
  color: #000;
  max-height: 14em;
  max-width: 21em;
}
.slide-info-caption h4 {
  color: #009C74;
  font-size: clamp(1rem, 1rem + 1vw, 5rem);
  padding: 1rem .5rem .5rem 1rem;
  margin-bottom: 0;
}
.slide-info-caption p {
  font-size: clamp(.3rem, .5rem + 1vw, 1rem);
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
}

          /*****Large Screen*****/
          @media (min-width: 500px) {
            #emotions .carousel-caption {
              flex-direction: column;
              align-items: baseline;
            }
            #emotions .slide-info {
              flex-direction: row;
              align-items: center;
              
            }
            .slide-info-heading {
              margin-bottom: 18em;
              margin-right: -17em;
            }
            
            
          }

/*Skills section*/
#skills h1 {
  text-align: center;
  padding-top: 1em;
}

.skill-numbers  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em auto 1em auto;
}

.skill-numbers div {
  align-content: center;
}

.skill-number {
  margin: 0 2em;
  text-align: center;
  line-height: 1em;
}
.skill-number h4 {
  font-size: clamp(3rem, 1rem + 1vw, 6rem) !important;
  margin-top: .2em;
}
.skill-number p{
 max-width: 20rem;
 width: max-content;
 margin: .5em auto;
 color: #000;
 font-size: small;
 text-align: center;
}

.skill-number-box {
  max-height: 3.5rem;
  max-width: 3.5rem;
  border: 1px solid #009C74;
  background-color: #009C74;
  border-radius: 50%;
  margin: auto;
}
.skill-number-box h5 {
  margin: .2em auto;
  color: #fff;
  font-weight: 700 !important;
  font-size: 2rem;
}

.hr {
  position: absolute;
  border-top: 6px solid #000;
  border-bottom: 6px solid #000;
  background-color: #009C74;
  height: 1.5em;
  width: 100%;
  margin-top: 2.6em !important;
  right: -3px;
  z-index: -1;
}

    /***mobile***/
    @media (max-width: 500px) {
      .hr {
        display: none;
      }
      .skill-numbers {
        display: flex;
        flex-direction: column;
      }
    }

/***Friends or Foe Section***/

#friend-foe {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 2em;
}

.ff-heading h1{
  text-align: center;
  font-size: clamp(3rem, 3rem + 2vw, 75px);
  margin-bottom: .5em;
}
.ff-heading .friends {
  color: #009C74;
}
.slash {
  color: rgb(195, 192, 192);
}

.ffSlides {
  max-width: 950px;
}

.card-img-overlay {
  color: #fff;
  margin-top: 10em;
}
.card-img-overlay h5 {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
}
.card-img-overlay h3 {
  font-size: 25px;
}

#ffSlides .carousel-item.active,
#ffSlides .carousel-item-next,
#ffSlides .carousel-item-prev {
    display: flex;
    justify-content: center;
}

#ffSlides .carousel-item {
  width: auto !important;
  margin-left: auto;
}
#ffSlides .card {
  padding: .2em;
}
#ffSlides img {
  border-radius: 20px;
  width: auto !important;
  height: 15em !important;
  max-height: 15em;
}

#ffSlides .carousel-item-end,
#ffSlides .carousel-item-start { 
  transform: translateX(0);
}

#ffSlides .carousel-control-prev, .carousel-control-next {
  width: 10%;
}
#ffSlides .carousel-control-next-icon, .carousel-control-prev-icon {
 filter: invert(100%);
 height: 4em;
 width: 4em;
}

            /*****make responsive*****/
            @media (max-width: 767px) {
                #ffSlides .carousel-item > div {
                    display: none;
                }
                #ffSlides .carousel-item > div:first-child {
                    display: block;
                }
            }

            /***** medium and up screens *****/
            @media (min-width: 768px) {
                
                #ffSlides .carousel-item-end.active,
                #ffSlides .carousel-item-next {
                  transform: translateX(25%);
                }
                
                #ffSlides .carousel-item-start.active, 
                #ffSlides .carousel-item-prev {
                  transform: translateX(-25%);
                }
            }


/****Favorite Foods****/
#favorite-foods h1{
  font-size: clamp(3rem, 3rem + 2vw, 75px);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
}
#favorite-foods span {
  color: #009C74;
}
.ff{
  max-width: 100em;
  margin: auto;
}
.food {
  text-align: center;
  max-width: 30em;
  min-width: 1em;
}
.food img {
  max-width: 3em;
}
.food h3 {
  font-size: clamp(1rem, 1rem + 1vw, 32px);
  font-weight: 650;
}
.food p {
  font-size: clamp(.5rem, 1rem + .5vw, 20px);
  text-align: center;
  margin: auto;
  padding: 0 1em;
  max-width: 15em;
}

@media (max-width: 500px) {
  .ff {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/****FOOTER****/
#contact img {
  z-index: 5;
  width: auto;
  max-height: 14em;
  padding-left: 1em;
  margin-bottom: -.5em;
}
#contact hr {
  z-index: -5;
  height: 1em;
  margin: 0;
  opacity: 1;
  background-color: #009C74 !important;
}

#contact .row {
  background-color: #000;
  max-height: 45em;
}

#contact .info, .form {
  color: #fff;
}
.info {
  padding: 2em;
  margin: 1em auto 1em auto;
  max-width: 30em;
}
.info h6, p {
  text-align: left;
  max-width: 21em;
  padding: 1em 0;
}
.info h6 {
  font-size: x-large;
}
.info p:first-of-type {
  max-width: 12em;
  margin-left: 0;
}
.info p:first-of-type bold {
  font-size: x-large;
  font-weight: 600;
}
.info p {
  width: 100%;
}

#contact .form {
  background-color: #009C74;
  border-radius: 10%;
  margin-top: -2em;
  margin-left: .7em;
  max-height: 45em;
  font-size: 18px;
  font-weight: 600;
}

#contact form {
  margin-top: 2em;
  margin-left: 1em;
}

#contact .form-control {
  max-width: 40em;
  max-height: 4em;
  background-color: #0000;
  border: 3px solid white;
  border-radius: 10px;
}
#contact .form-control.message {
  max-height: 8em !important;
}

.formSubmit {
  text-align: center;
}
.form button {
  margin: .5em;
  max-width: 9em;
  max-height: 1.75em;
  border-radius: 15px;
  font-size: x-large;
  font-weight: 600;
}

      /*****Large Screen*****/
      @media (min-width: 500px) {
        #contact .form {
            z-index: 10;
            border-radius: 10% 0 0 0;
            margin-top: -4em;
            margin-right: -1em;
            height: 40em;
            font-size: 18px;
            font-weight: 600;
          }
          #contact form {
            margin-top: 5em;
            margin-left: 5em;
          }
          #contact .form-control {
              width: 30em;
              max-height: 4em;
              background-color: #0000;
              border: 3px solid white;
              border-radius: 10px;
            }
            #contact .form-control.message {
              height: 8em !important;
            }
            .form button {
                margin-left: -3em;
                width: 9em;
                height: 1.75em;
              }
      }